bin/Debug/Praksa.exe
bin/Debug/Praksa.pdb
bin/Debug/Praksa.exe.config
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Slot Game.csproj.FileListAbsolute.txt
/.vs
/obj
/bin/Debug/Praksa.vshost.exe
/bin/Debug/Praksa.vshost.exe.config
/bin/Debug/Praksa.vshost.exe.manifest
